{{!--   This is the exterior page view in which all other view components render  --}}
{{!--   THIS VERSION IS FOR AUTHENTICATED AND LOGGED IN USERS  --}}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset=utf-8 />
        <meta name="author" content="OSU CS-467 Fall 2020 Capstone Software Quiz group project">
        <meta name="description" content="Software-Quiz">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {{!-- Material Design Theming --}}
        <link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.orange-indigo.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <script defer src="https://code.getmdl.io/1.1.3/material.min.js"></script>
        <link type="image/x-icon" rel="shortcut icon" href="../images/favicon.ico"/>
        <link type="text/css" rel="stylesheet" href="../css/main.css">

         <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

        <script>
            /*to prevent Firefox FOUC, this must be here*/
            let FF_FOUC_FIX;
        </script>
    </head>

    <body>
        
        <div style="height: 100px">
            <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
                <header id="top-bar" class="mdl-layout__header mdl-color-text--white">
                    <div class="mdl-layout__header-row">
                        <span class="mdl-layout-title">
                            <h3 id="logo-container">
                                <img  
                                    id="logo" alt="?" width="50" height="50"
                                    src="../images/logo.png"
                                >
                                <p id="page-title">Quiz Soft</p>
                            </h3>
                        </span>
                    </div>
                </header>
            </div>
        </div>

        <div>
            {{!-- Content Box to load the other views into --}}
            <main class="mdl-layout__content">
                <div class="page-content">
                    {{{body}}}
                </div>
            </main>
        </div>

    </body>
</html>
