{{!-- Portfolio intro page view - using express handlebars --}}

<title>Quiz Soft</title>
<link type="text/css" rel="stylesheet" href="css/intro-page.css">

<p class="mdl-color-text--grey-600" id="intro-msg">
    You can reach the application with the following link
</p>

<a id="login-link" href="/quiz_soft/login">
    <div>Login to Quiz Soft</div>
</a>

<a id="gh-link" target="_blank" rel="noopener noreferrer"
    href="https://github.com/adam4321/Quiz-Soft"
>
    <div>Open GitHub repo in a new tab</div>
</a>

<button 
    class="back-button" 
    id="back-button" 
    onclick="(() => {location.href = 'https://adamjwright.com/#stack';})()"
> 
    Back 
</button>
