/******************************************************************************
**  Description: JOB POSTING PAGE - css file for the page
******************************************************************************/

/* Change the arrow to a pointer when hovering over the table rows */
td:hover {
    cursor: pointer;
}

#dashboard-container {
    max-width: 730px;
}

#dashboard-container-empty {
    width: 730px;
    margin: auto;
    padding-right: 0;
}

.posting-content {
    width: 93%;
}

.no-posting-content {
    width: 93%;
}

#profile-image {
    height: 35px; 
    border-radius: 50%; 
    margin: 1px 0px 10px 5px;
}

#profile-image-new {
    height: 35px; 
    border-radius: 50%; 
    margin: 1px 4px 10px 5px;
}

#profile-div {
    display: inline-block;
    max-width: 100%;
}

#profile-email {
    font-size: medium; 
    font-weight: bold; 
    display: inline-block;
    margin: 11px 0px 0px 0px;
}

/* Add extra margin when rendered using JavaScript */
#profile-email-empty {
    font-size: medium; 
    font-weight: bold; 
    display: inline-block;
    margin: 11px 0px 0px 4px;
}


/* Back button ------------------------------------------------------------- */

#link-div {
    float: right;
    margin: 0 0 8px 0;
}

#link-txt {
    margin: 12px 0 0 0;
    font-size: medium; 
    font-weight: bold; 
    display: inline-block;
}

#link-btn {
    display: inline-block;
    margin: 7px 0px 0 19px;
    width: 81px;
    height: 27px;
    text-align: center;
}

#link-btn-new {
    display: inline-block;
    margin: 7px 0px 0 23px;
    width: 81px;
    height: 27px;
    text-align: center;
}


/* Table styling ----------------------------------------------------------- */

#row-msg {
    margin: 25px 0 -10px 100px;
    font-size: 12px;
}

#recordTable {
    margin-top: 10px;
    width: 200px;
}

.user-numbers {
    text-align: center;
}

.btn-style {
    font-weight: 100;
    font-size: 12px;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    text-transform: uppercase;
    background-color: #ebb54b;
    color: rgb(66,66,66);
    border: none;
    cursor: pointer;
    border-radius: 2px;
    width: 80px;
    margin-top: 10px;
    padding: 5px;
}

.btn-style:hover {
    background-color: #c7942d;
}

.posting-title {
    width: 125px;
    overflow: hidden;
}


/* Style tables with no quizzes -------------------------------------------- */

#no-posting-div {
    width: 270px;
    margin: 70px auto 40px auto;
}

#question-logo {
    height: 50px;
    display: inline-block;
    margin-top: -10px;
    margin-left: 15px;
}

#no-posting-txt {
    display: inline-block;
    font-size: 22px;
    color: #ebb54b;
}


/* Media queries for tablets ----------------------------------------------- */

@media only screen and (max-width: 775px) {
    #dashboard-container {
        width: 95%;
    }
}

@media only screen and (max-width: 575px) {
    #profile-div {
        display: block;
        text-align: center;
        position: relative;
        margin: 5px auto 5px auto;
        padding-right: 25px;
    }
    
    #title-div {
        display: block;
        text-align: center;
        position: relative;
        margin: 5px auto 5px auto;
        padding-right: 25px;
    }

    #link-div {
        float: none;
        width: 210px;
        margin: 10px auto 15px auto;
    }

    #row-msg {
        font-size: 10px;
        margin-top: 25px;
        margin-left: 85px;
    }
}


/* Media queries for vertical mobile phones -------------------------------- */

@media only screen and (max-width: 450px) {
    #dashboard-container {
        width: 100%;
    }

    .mdl-card__supporting-text {
        width: 100%;
        padding: 0px 0px 8px 3px !important;
    }

    #profile-image {
        margin: -5px 0px 5px 0;
    }

    #profile-email {
        margin: 0px 0px 5px 0px;
    }

    #profile-image-new {
        margin: -5px 4px 5px 0;
    }
    
    #profile-email-empty {
        margin: 0px 0px -15px 0px;
    }

    #no-posting-div {
        margin: 60px auto 30px auto;
    }

    .posting-content {
        margin: 15px auto 0px auto;
    }

    .no-posting-content {
        margin: 15px auto 10px auto;
    }

    #link-btn {
        font-size: 12px;
    }

    #no-posting-break {
        width: 88%;
        margin-left: 5%;
    }

    .mdl-data-table__cell--non-numeric {
        font-size: 9px;
    }

    #table-body {
        font-size: 8px;
    }

    .posting-title {
        width: 105px;
    }

    .user-numbers {
        width: 55px;
    }

    .btn-cell {
        width: 50px;
        padding-right: 15px;
    }

    .btn-style {
        font-size: 8px;
        width: 55px;
    }
}
